In [11]:
# Introduction to Scikit-Learn (Sklearn)

In [12]:
import numpy as np

In [13]:
# Get the data ready
import pandas as pd
heart_disease = pd.read_csv("csv-files/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [14]:
# Create x (features matrix)
x = heart_disease.drop("target", axis=1) 

# Create your own (labels)
y = heart_disease["target"]

In [15]:
import warnings 
warnings.filterwarnings("default")

In [16]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'monotonic_cst': None,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [17]:
# 3. Fit the model to the training data 
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [32]:
import sklearn
sklearn.show_versions()

System:
    python: 3.13.2 | packaged by Anaconda, Inc. | (main, Feb  6 2025, 12:55:35) [Clang 14.0.6 ]
executable: /Users/kaebonnet/Desktop/Demo_Projects/env/bin/python
   machine: macOS-26.2-arm64-arm-64bit-Mach-O

Python dependencies:
      sklearn: 1.6.1
          pip: 25.0
   setuptools: 72.1.0
        numpy: 2.2.4
        scipy: 1.15.2
       Cython: None
       pandas: 2.2.3
   matplotlib: 3.10.0
       joblib: 1.4.2
threadpoolctl: 3.5.0

Built with OpenMP: True

threadpoolctl info:
       user_api: blas
   internal_api: openblas
    num_threads: 12
         prefix: libopenblas
       filepath: /Users/kaebonnet/Desktop/Demo_Projects/env/lib/libopenblasp-r0.3.21.dylib
        version: 0.3.21
threading_layer: pthreads
   architecture: armv8

       user_api: openmp
   internal_api: openmp
    num_threads: 12
         prefix: libomp
       filepath: /Users/kaebonnet/Desktop/Demo_Projects/env/lib/libomp.dylib
        version: None

In [18]:
clf.fit(x_train, y_train);

In [19]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
213,61,0,0,145,307,0,0,146,1,1.0,1,0,3
83,52,1,3,152,298,1,1,178,0,1.2,1,0,3
257,50,1,0,144,200,0,0,126,1,0.9,1,0,3
284,61,1,0,140,207,0,0,138,1,1.9,2,1,3
91,57,1,0,132,207,0,1,168,1,0.0,2,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,64,0,2,140,313,0,1,133,0,0.2,2,0,3
203,68,1,2,180,274,1,0,150,1,1.6,1,0,3
85,67,0,2,115,564,0,0,160,0,1.6,1,0,3
131,49,0,1,134,271,0,1,162,0,0.0,1,0,2
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2

In [20]:
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
289,55,0,0,128,205,0,2,130,1,2.0,1,1,3
208,49,1,2,120,188,0,1,139,0,2.0,1,3,3
152,64,1,3,170,227,0,0,155,0,0.6,1,0,3
84,42,0,0,102,265,0,0,122,0,0.6,1,0,2
58,34,1,3,118,182,0,0,174,0,0.0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,57,1,2,150,126,1,1,173,0,0.2,2,1,3
133,41,1,1,110,235,0,1,153,0,0.0,2,0,2
291,58,1,0,114,318,0,2,140,0,4.4,0,3,1
52,62,1,2,130,231,0,1,146,0,1.8,1,3,3
69,62,0,0,124,209,0,1,163,0,0.0,2,0,2

In [21]:
y_preds = clf.predict(x_test)
y_preds

array([0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1])

In [22]:
y_test

289    0
208    0
152    1
84     1
58     1
      ..
111    1
133    1
291    0
52     1
69     1
Name: target, Length: 61, dtype: int64

In [23]:
# 4. Evaluate the model (How good are the predictions) on the training data and the test data
clf.score(x_train, y_train)

1.0

In [24]:
clf.score(x_test, y_test)

0.8360655737704918

In [25]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.81      0.87      0.84        30
           1       0.86      0.81      0.83        31

    accuracy                           0.84        61
   macro avg       0.84      0.84      0.84        61
weighted avg       0.84      0.84      0.84        61

In [26]:
confusion_matrix(y_test, y_preds)

array([[26,  4],
       [ 6, 25]])

In [27]:
accuracy_score(y_test, y_preds)

0.8360655737704918

In [28]:
# 5. Imporve the model 
# Try different amount of n_estimators
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f"Model accuracy on test set: {clf.score(x_test, y_test) * 100:.2f}%")
    print(" ")

Trying model with 10 estimators...
Model accuracy on test set: 81.97%

Trying model with 20 estimators...
Model accuracy on test set: 86.89%

Trying model with 30 estimators...
Model accuracy on test set: 83.61%

Trying model with 40 estimators...
Model accuracy on test set: 81.97%

Trying model with 50 estimators...
Model accuracy on test set: 80.33%

Trying model with 60 estimators...
Model accuracy on test set: 85.25%

Trying model with 70 estimators...
Model accuracy on test set: 81.97%

Trying model with 80 estimators...
Model accuracy on test set: 81.97%

Trying model with 90 estimators...
Model accuracy on test set: 83.61%

In [29]:
# 6. Save a model and load it (wb = write binary rb= read binary )
import pickle 

pickle.dump(clf, open("random_forst_model_1.pk1", "wb"))

/var/folders/sk/kpzgcxkn18x8v4dw3wnp0fmr0000gn/T/ipykernel_6005/2045510875.py:4: ResourceWarning: unclosed file <_io.BufferedWriter name='random_forst_model_1.pk1'>
  pickle.dump(clf, open("random_forst_model_1.pk1", "wb"))
ResourceWarning: Enable tracemalloc to get the object allocation traceback

In [30]:
loaded_model = pickle.load(open("random_forst_model_1.pk1", "rb"))
loaded_model.score(x_test, y_test)

/var/folders/sk/kpzgcxkn18x8v4dw3wnp0fmr0000gn/T/ipykernel_6005/3611285660.py:1: ResourceWarning: unclosed file <_io.BufferedReader name='random_forst_model_1.pk1'>
  loaded_model = pickle.load(open("random_forst_model_1.pk1", "rb"))
ResourceWarning: Enable tracemalloc to get the object allocation traceback

0.8360655737704918